<!DOCTYPE html>

<html>
<head>

    <title> About You</title>

</head>


<body>
    <h1> About You</h1>

    <div class="grid-container">

        <div class="grid-item" >
            <p> Name: <%= obj.name %></p>
        </div>
        
        <div class="grid-item">
            <p> Email: <%= obj.email %></p>
        </div>
    </div>

</body>


</html>

