<!DOCTYPE html>

<html>
<head>

    <title> Sign Up</title>

    <link rel="stylesheet" href="/public/signup.css" type="text/css">
</head>


<body>
    <h1>Sign Up</h1>


    <div class="grid-container">
        <form class="signupForm" action="/signupAction" method="get">
            
            <div class="grid-item">Name: <input type="text" name="name"></div>
            <div class="grid-item">Email: <input type="text" name="email"></div>
            <div class="grid-item submit"><input type="submit" value="Submit"></div>
            <div class="grid-item submit"><a href="/">Go Back</a></div>
        </form>
    </div>

</body>


</html>

